{% extends 'base.html.twig' %}

{% block content %}
  <h1>{{ form_title }}</h1>

  {% if product is defined %}
    <img src="{{ asset('photos/' ~ product.image) }}" alt="" class="img-thumbnail" height="200px">
  {% endif %}

  {{ form_start(form) }}
    {{ form_row(form.title, {
      label: "Titre"
    }) }}

    {{ form_row(form.description, {
      label: "Description"
    }) }}

    <div class="container">
      <div class="row">
        <div class="col-sm">
          {{ form_row(form.stock, {
            label: "Stock"
          }) }}
        </div>

        <div class="col-sm">
          {{ form_row(form.price, {
            label: "Prix"
          }) }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          {{ form_row(form.imageUpload, {
            label: "Image"
          }) }}
        </div>

        <div class="col-sm">
          {{ form_row(form.size, {
            label: "Pointure"
          }) }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          {{ form_row(form.color, {
            label: "Couleur"
          }) }}
        </div>

        <div class="col-sm">
          {{ form_row(form.brand, {
            label: "Marque"
          }) }}
        </div>
      </div>
    </div>

    {{ form_row(form.categories, {
      label: "Catégories",
      attr: {
        class: "checkbox-column-container"
      }
    }) }}

    <button type="submit" class="btn btn-success btn-block">
      Enregistrer
    </button>
  {{ form_end(form) }}
{% endblock %}
