{% extends 'base.html.twig'  %}

{% block content %}

<div class="row">

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th colspan="6">Panier</th>
      </tr>
      <tr>
        <th>Photo</th>
        <th>Titre</th>
        <th>Prix unitaire</th>
        <th>Quantité</th>
        <th>Prix total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% set totalPanier = 0 %}
      {% for key, item in app.session.get('panier') %}
      <tr>
        <td><img src="{{ asset('photos/' ~ item.product.image) }}" height="50px" /></td>
        <td>{{ item.product.title }}</td>
        <td>{{ item.product.price | number_format(2, ',', ' ') }}€</td>

        <td>
          <form action="{{ path('cart_item_update_quantity', {id: item.product.id}) }}" method="post">
            <div class="input-group input-group-sm">
              <input type="number" class="form-control" value="{{ item.quantity }}" name="qt">
              <div class="input-group-append">
                <button type="submit" class="btn btn-info">
                  <i class="fas fa-edit"></i>
                </button>
              </div>
            </div>
          </form>
        </td>

        {% set totalProduct =  item.product.price * item.quantity %}
        <td>{{ totalProduct | number_format(2, ',', ' ') }}€</td>
        <td><a href="{{ path('cart_item_delete', {'key' : key}) }}">Supprimer du panier</a></td>
      </tr>
      {% set totalPanier = totalPanier + totalProduct %}
      {% endfor %}
      <tr>
        <td colspan="4">Total Panier</td>
        <td>{{ totalPanier | number_format(2, ',', ' ') }}€</td>
        <td><a href="{{ path('cart_delete') }}">Vider le panier</a></td>
      </tr>
      <tr>
        <td colspan="6"><a href="{{ path('cart_checkout') }}">Confirmer le panier et passer à la suite</a></td>
      </tr>

    </tbody>
  </table>


</div>




{% endblock %}
